[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
convert-descriptor-to-swagger-alpha = {editable = true,git = "https://github.com/brighthive/convert_descriptor_to_swagger.git",ref = "convert"}

[requires]
python_version = "3.7"
